[Unit]
Description=Loki log aggregation system
Documentation=https://grafana.com/docs/loki/latest/
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{ loki_user }}
Group={{ loki_user }}
ExecStart=/usr/local/bin/loki \
  -config.file={{ loki_config_dir }}/loki.yml
Restart=on-failure
RestartSec=5s
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
