[defaults]
inventory = inventory/hosts.yml
remote_user = root
roles_path = roles
retry_files = False
retry_files_enabled = False
host_key_checking = False
stdout_callback = ansible.builtin.default
result_format = yaml
gathering = smart
fact_caching = jsonfile
fact_cashing_connection = /tmp/ansible_facts_cache
fact_caching_timeout = 3600

[privilege_escalation]
become = true
become_method = sudo

[ssh_connection]
pipelining = True
